body {
  background-image: url("https://media.istockphoto.com/id/1415275068/photo/old-concrete-wall-texture-background-building-pattern-surface-clean-soft-polished-abstract.jpg?s=612x612&w=0&k=20&c=BXil_FXhPmafXN5bRPOWOqrjjvPkWZI73llKxSr7MBY=");
  background-repeat: repeat;
  background-size: 64px 64px;
}