p{
font-family: "Times New Roman", Times, serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
letter-spacing: normal;
line-height: normal;
text-transform: none;
text-decoration: none;
text-align: left;
}